<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <link 
    rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  >
</head>
<body>
<div class="container">
  <h1 class="mt-5">الرئيسية</h1>
  <ul class="list-group mt-3">
    <li class="list-group-item"><a href="/inventory/">إدارة المخزون</a></li>
    <li class="list-group-item"><a href="/financial/">السجلات المالية</a></li>
    <li class="list-group-item"><a href="/customers/">إدارة العملاء</a></li>
  </ul>
  <a href="{% url 'logout' %}" class="btn btn-secondary mt-3">Logout</a>
</div>
</body>
</html>
