{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
  <h2>تفاصيل عملية الشراء</h2>
  <p><strong>العميل:</strong> {{ purchase.customer.name }}</p>
  <p><strong>
    المنتجات:
    <ul class="list-unstyled mb-0">
      {% for item in purchase.items.all %}
        <span for="">المنتج : </span><span>{{ item.inventory_item.name }}</span><br>
        <span for="">الكمية :</span><span>{{ item.inventory_item.quantity }}</span><br>
        <hr>
      {% endfor %}
    </ul>
  </strong></p>
  
  <p><strong>الإجمالى : </strong> {{ purchase.total_price }}</p>
  <p><strong>تاريخ الشراء:</strong> {{ purchase.purchase_date }}</p>
  <a href="{% url 'purchase_update' purchase.pk %}" class="btn btn-warning">تعديل</a>
  <a href="{% url 'purchase_list' %}" class="btn btn-secondary">عودة</a>
</div>
{% endblock %}
