{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
  <h2>سجل المبيعات</h2>
  <a href="{% url 'purchase_create' %}" class="btn btn-primary mb-2">إضافة سجل بيع جديد</a>
  <table class="table table-bordered text-center">
    <thead>
      <tr>
        <th>العميل</th>
        <th>المنتجات</th>
        <th>الكمية</th>
        <th>التفاصيل</th>
        <th>الإجمالى</th>
        <th>تاريخ الشراء</th>
        <th>الإجراءات</th>
      </tr>
    </thead>
    <tbody>
      {% for purchase in purchases %}
      <tr>
        <td>{{ purchase.customer.name }}</td>
        <td>
          <ul class="list-unstyled mb-0">
            {% for item in purchase.items.all %}
              <li>{{ item.inventory_item.name }}</li>
            {% endfor %}
          </ul>
        </td>
        <td>
          <ul class="list-unstyled mb-0">
            {% for item in purchase.items.all %}
              <li>{{ item.quantity }}</li>
            {% endfor %}
          </ul>
        </td>
        <td>
          {% for item in purchase.items.all %}
            <li>عدد الوحدات {{ item.quantity }}</li>
            <li>سعر الوحدة {{ item.unit_price  }}</li>
          {% endfor %}
          
        </td>
        <td>{{ purchase.total_price }}</td>
        <td>{{ purchase.purchase_date }}</td>
        <td>
          <a href="{% url 'purchase_detail' purchase.pk %}" class="btn btn-sm btn-info">عرض التفاصيل</a>
          <a href="{% url 'purchase_update' purchase.pk %}" class="btn btn-sm btn-warning text-white">تعديل</a>
          <a href="{% url 'purchase_delete' purchase.pk %}" class="btn btn-sm btn-danger">حذف</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
